html, body {
    width: 100%;

}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
}
p{
    text-align: center;
    color: cadetblue;
}
.pro{
    margin: 0 auto; 
    width: 500px;
    border: solid 1px black;
}
.koy{
    width: 48%;
    background-color: cadetblue;
    border-radius: 16px;
    
}
.cuy{
    display: flex;
    justify-content: center ;
}

    
